<div class="row">

  <div class="container">
    <div class="logo">
      <img ngSrc="assets/Logo.png" id="logoarg" alt="" height="559" width="914">
    </div>
    <div class="redes">
      <a href=""><img ngSrc="assets/facebook.png" id="facebook" alt=""></a>
      <a href=""><img ngSrc="assets/github.png" id="github" alt=""></a>
      <a href=""><img src="assets/instagram.png" id="instagram" alt=""></a>
      <a href=""><img src="assets/linkedin.png" id="linkedin" alt=""></a>
      <a href=""><img src="assets/twitter.png" id="twitter" alt=""></a>
      <button type="button" class="btn btn-outline-primary" alt="">Ingreso</button>
    </div>
  </div>
</div>
